*{
    box-sizing: border-box;
}
html, body{
    margin: 0;
    padding: 0;
}
.row{
    margin: 15px;
    text-align: center;
}
[class*=col-xs]{
    height: 100px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
}
#d0, #d6, #d8, #d2{
  border: none
}
#d4{
  border: 1px solid black;
}
#d3, #d5{
  border-bottom: 1px solid black;
}
#d3, #d5{
  border-top: 1px solid black;
}
#d1, #d7{
  border-left: 1px solid black;
  border-right: 1px solid black;
}
[class*=col-xs-4]:hover{
    outline-style: dotted;
    outline-color: orange;
    outline-width: 6px;
}
.bottom-panel{
    height: 100px;
    cursor: default;
    border: none;
    color: orange;
}

div.col-xs-8{
  padding: 25px 50px;
}
.reset{
  height: 50px;
  width: 100%;
  background-color: dimgray;
  line-height: 50px;
  border-radius: 10px;
  letter-spacing: 3px;
  font-size: 1.5em;
  cursor: pointer;
  font-weight: bold;
}
.reset:hover{
  background-color: grey;
  transform: scale(1.1);
}
.reset:active{
  transform: scale(0.99);
}
